/* #1e1e2d */
/* #f31d58 */
/* #26293d */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #26293d ;
  color: #fff;
}

#container {
  width: 500px;
  text-align: justify;
  margin: 5rem auto;
}

#container h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #f31d58;
  font-size: 3rem;
}

#container h2 {
  margin-top: 5rem;
  margin-bottom: 1rem;
}

#container p {
  margin-bottom: 2rem;
  font-size: 1.7rem;
  line-height: 2.4rem;
}

#container form p {
  text-align: center;
  margin-bottom: 2rem;
}

input[type="submit"] {
  padding: 2rem;
  border-radius: 0.5rem;
  outline: none;
  background-color: #fff;
}

input[type="submit"]:hover {
  background-color: rgb(243, 29, 88);
  color: #fff;
  box-shadow: 0px 1px 5px 5px rgba(243, 29, 88, 0.2);

}

.balise-quitter {
  text-align: center;
}

.balise-quitter a {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 1rem;
  border-radius: 1rem;
}

.balise-quitter a:hover {
  color: #f31d58;
  border: 1px solid #f31d58;

}